{% extends "seabeck_draft/logged_in_base_template.html" %}




{% block content %}
    {% load staticfiles %}

    <h1>Hello, {{ family.user.first_name }} {{ family.user.last_name }}!</h1>
    <br>
    <h3>These are the campers you have signed up in the past.</h3>
    <br>
{#    This section will be filled in by the draw_detail script. #}
    <div id="campers-list">
        Loading campers...
    </div>
    <button id="new-camper-button" type="button" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Camper
</button>

    <br><br>
    <a href="/">Return to family profile page</a>

    <script src='{% static "my_app/js/draw_detail.js" %}'></script>
    <script src='{% static "my_app/js/fill-grade-menu.js" %}'></script>
    <script src='{% static "my_app/js/grades-handler.js" %}'></script>
    <script>
        function init(){
            fetch("/api_campers/");
        }
        document.addEventListener("DOMContentLoaded", init);

    </script>

{% endblock %}